.note{
    display: flex;
    flex-direction: column;
}

.note .header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.note .header h1{
    padding: 0;
    margin: 0;
}

.note button{
    cursor: pointer;
    background: none;
    border: none;
}

.note .header button{
    font-size: 1.5rem;
    height: 100%;
    margin-top: 2px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.note .notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.note .notes .noteHolder h3{
    margin: 0;
}

.note .notes .noteHolder{
    box-shadow: 0 0 10px white;
    margin: 10px;
    padding: 10px;
    background: rgb(58, 14, 14);
    width: 29%;
    border-radius: 20px;
    &:hover{
        box-shadow: 0 0 20px white;
    }
}

.note .titleHolder button{
    background: none;
    border: none;
    color: blue;
    font-size: 1.2rem;
    &:hover{
        color: red;
    }
}

.note .titleHolder{
    display: flex;
    justify-content: space-between;
}

.note .noteHolder form{
    display: flex;
    flex-direction: column;
    
}

.note #title{
    font-size: larger;
    font-weight: bolder;
}

.note form{
    position: relative;
    height: 100%;
}

.note #addPlus{
    margin-top: 10%;
    font-size: 5rem;
    border: none;
    border-radius: 50%;
    color: rgb(212, 212, 212);
}

.note #cross{
    position: absolute;
    top: 1px;
    right: 30px;
    &:hover{
        color: red;
    }
}

.note .addForm button{
    position: absolute;
    top: 5px;
    right: 5px;
    color: blue;
    font-size: 1.2rem;
    &:hover{
        color: green;
    }
}

.note .addForm{
    position: relative;
}

.note .addForm input{
    font-size: larger;
    margin: 5px;
}

.note textarea{
    width: 100%;
}