.note{
    display: flex;
    flex-direction: column;
}

.note .header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.note h1{
    padding: 0;
    margin: 0;
    font-size: 50px;
    color: transparent;
    background-image: url(https://i.pinimg.com/originals/3e/81/79/3e8179c305605896b1f82db0005ad199.gif);
    background-size: contain;
    font-weight: 900;
    background-clip: text;
}

.note button{
    cursor: pointer;
    background: none;
    border: none;
}

.note .header button{
    font-size: 1.5rem;
    height: 100%;
    margin-top: 2px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.note .notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.note .notes .noteHolder h3{
    margin: 0;
}

.note .notes .noteHolder{
    box-shadow: 0 0 10px white;
    margin: 10px;
    padding: 20px;
    /* background: rgb(228, 139, 139); */
    backdrop-filter: blur(20px);
    color: white;
    width: 29%;
    border-radius: 20px;
    &:hover{
        box-shadow: 0 0 20px white;
    }
}

.note .titleHolder button{
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    &:hover{
        color: black;
    }
}

.note .titleHolder{
    display: flex;
    justify-content: space-between;
}

.note .noteHolder form{
    display: flex;
    flex-direction: column;
    
}

.note #title{
    font-size: larger;
    font-weight: bolder;
}

.note form{
    position: relative;
    height: 100%;
}

.note #deadline{
    position: relative;
    width: fit-content;
    bottom: 0;
}

.note .status{
    margin-top: 30px;
    margin-bottom: 20px;
}

.note #noteIcon{
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
}

.note #addPlus{
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
}

.note .addForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.note .addForm textarea{
    width: 100%;
    border: 1px solid black;
    &::placeholder{
        color: bisque;
    }
}

.note .addForm{
    position: relative;
    padding: 10px;
    z-index: 999;
}

.note .addForm button{
    border: 2px black solid ;
    padding: 5px;
    background: rgb(23, 5, 128);
    color: white;
}

.note .addForm input{
    border: 2px solid black;
    font-size: x-large;
    padding: 5px;
    margin: 5px;
    &::placeholder{
        color: bisque;
    }
    &:focus{
        outline: none;
    }
}

.note #gotoNote{
    font-size: 30px;
    font-weight: 700;
    background: white;
    width: fit-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    position: absolute;
    bottom: 40px;
    right: 40px;
}