.task{
    display: flex;
    flex-direction: column;
}

.task .header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.task .header h1{
    padding: 0;
    margin: 0;
}

.task button{
    cursor: pointer;
    background: none;
    border: none;
}

.task .header button{
    font-size: 1.5rem;
    height: 100%;
    margin-top: 2px;
    margin-left: 15px;
    background: transparent;
    border: none;
}

.task .notes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.task .notes .noteHolder h3{
    margin: 0;
}

.task .notes .noteHolder{
    box-shadow: 0 0 10px white;
    margin: 10px;
    padding: 20px;
    /* background: rgb(228, 139, 139); */
    backdrop-filter: blur(20px);
    color: white;
    width: 29%;
    border-radius: 20px;
    &:hover{
        box-shadow: 0 0 20px white;
    }
}

.task .titleHolder button{
    background: none;
    border: none;
    color: blue;
    font-size: 1.2rem;
    &:hover{
        color: red;
    }
}

.task .titleHolder{
    display: flex;
    justify-content: space-between;
}

.task .noteHolder form{
    display: flex;
    flex-direction: column;
    
}

.task #title{
    font-size: larger;
    font-weight: bolder;
}

.task form{
    position: relative;
    height: 100%;
}

.task #deadline{
    position: relative;
    width: fit-content;
    bottom: 0;
}

.task .status{
    margin-top: 30px;
    margin-bottom: 20px;
}

.task #addPlus{
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    color: rgb(0, 0, 0);
}

.task #addFormSave{
    position: absolute;
    top: 4px;
    right: 30px;
    &:hover{
        color: red;
    }
}

.task .addForm button{
    position: absolute;
    top: 5px;
    right: 5px;
    color: blue;
    font-size: 1.2rem;
    &:hover{
        color: green;
    }
}

.task .addFormHolder{
    position: absolute;
    right: 10px;
    top: 20px;
    border-radius: 15px;
    padding: 5px 10px 5px;
    background: white;
}

.task .addForm textarea{
    width: 100%;
    border: 1px solid black;
}

.task .addForm{
    position: relative;
    padding: 10px;
}

.task .addForm input{
    border: 1px solid black;
    font-size: larger;
    color: black;
    margin: 5px;
}